
<div ng-controller="SchemasController">
    <h1>Clients</h1>
    <button class="btn btn-primary" ng-click="getSchemas()">Get Clients</button>


    <div ng-show="showLoader" class="loader"></div>

    <div class="well" ng-repeat="schema in schemas">

        <table class="weather-table">
            <tbody>
                <tr>
                    <td>IP</td>
                    <td>{{client.ip[0]}}</td>
                </tr>
                <tr>
                    <td>Last Updated</td>
                    <td>{{client.states.lastUpdated | date:'medium'}}</td>
                </tr>
                <tr>
                    <td>Expires</td>
                    <td>{{client.expire | date:'medium'}}</td>
                </tr>
            </tbody>
        </table>

    </div>


</div>