doctype html
html
	head
		meta(charset='utf-8')
		meta(name='viewport', content='width=device-width, initial-scale=1.0')
		title Angular Test
		link(href='/less/bootstrap.css', rel='stylesheet')
		link(href='/less/stylesheet.css', rel='stylesheet')

	body(ng-app="AngularTestApp")

		//nav
		div.navbar.navbar-inverse.navbar-fixed-top
			.container
				.navbar-header
					button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
						span.icon-bar
						span.icon-bar
						span.icon-bar
				.collapse.navbar-collapse
					ul.nav.navbar-nav
						li.active
							a(href='#') Home
						li
							a(href='/posts') Blog Posts
						if user
							li
								a(href='create') create
						
					ul.nav.navbar-nav.navbar-right
						li
							if user
								a(href='/auth/logout') 
									| #{user.title}	
									img(src="#{user.photo}")
							else
								a(href='/auth/facebook') Login

		.container
			div(ng-view)


		script(src='/libs/jquery.min.js')
		script(src='/libs/bootstrap.min.js')
		script(src='/libs/angular.min.js')
		script(src='/libs/angular-route.min.js')
		script(src='/js/app.js')
		script(src='/js/weather/weather.controller.js')
		script(src='/js/weather/windDirection.filter.js')

