doctype html
html
	head
		meta(charset='utf-8')
		meta(name='viewport', content='width=device-width, initial-scale=1.0')
		title Angular Test
		base(href="/")
		link(href='/less/bootstrap.css', rel='stylesheet')
		link(href='/less/stylesheet.css', rel='stylesheet')

	body(ng-app="AngularTestApp")

		//nav
		div(ng-include="'/js/nav/navbar.html'")

		.container
			div(ng-view, class="viewAnimate")


		script(src='/libs/jquery.min.js')
		script(src='/libs/bootstrap.min.js')
		script(src='//cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.14/angular.js')
		script(src='//cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.14/angular-route.js')
		script(src='//cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.14/angular-animate.js')
		script(src='/js/app.js')
		script(src='/js/lsq.service.js')
		script(src='/js/clients/clients.controller.js')
		script(src='/js/schemas/schemas.controller.js')
		script(src='/js/events/events.controller.js')
