doctype html
html
	head
		meta(charset='utf-8')
		meta(name='viewport', content='width=device-width, initial-scale=1.0')
		title Bootstrap Blog Boilerplate
		link(href='/less/bootstrap.css', rel='stylesheet')
		link(href='/less/stylesheet.css', rel='stylesheet')
	body
		.navbar.navbar-inverse.navbar-fixed-top
			.container
				.navbar-header
					button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
						span.icon-bar
						span.icon-bar
						span.icon-bar
				.collapse.navbar-collapse
					ul.nav.navbar-nav
						li.active
							a(href='#') Home
						li
							a(href='/posts') Blog Posts
						if user
							li
								a(href='create') create
						
					ul.nav.navbar-nav.navbar-right
						li
							if user
								a(href='/auth/logout') 
									| #{user.title}	
									img(src="#{user.photo}")
							else
								a(href='/auth/facebook') Login

		.container(ng-app="myApp")
			.starter-template(ng-controller="MainController")

				div.well
					h1 Weather
						small {{weather.item.title}}
					table.geolocation-table
						tbody
							tr
								td Station
								td {{weather.location.city}}, {{weather.location.region}}
							tr
								td Conditions
								td {{weather.item.condition.text}}
							tr
								td Temperature
								td {{weather.item.condition.temp}}°
							tr
								td Wind
								td {{weather.wind.speed}} mph {{weather.wind.direction | windDirection}}
							tr
								td Last Update
								td {{weather.lastBuildDate| date:'h:mm a'}}



		script(src='/libs/jquery.min.js')
		script(src='/libs/bootstrap.min.js')
		script(src='/libs/angular.min.js')
		script(src='/js/app.js')
