@import "variables";
@import "mixins";

body {
  padding-top: 100px;
}

.starter-template {
  padding: 40px 15px;
}


.create{
	input,textarea{
		margin-bottom: 15px;
	}
}

.nav>li>a>img{
	height: 35px;
	border-radius: 35px;
	margin-left: 10px;
}


.posts{	
	.col{
		border: 1px solid #cccccc;
		border-radius: 2px;
		background-color: #fafafa;
		margin: 10px;
		padding-bottom: 15px; 

		header{
			.delete{
				position: absolute;
				top: 0;
				right: 0;
			}
			border-bottom: 1px solid #cccccc;
			position: relative;
			margin-bottom: 40px;
			padding-bottom: 20px;
			h1{
				text-align: center;
				font-size: 26px;
			}
			h2{
				text-align: center;
				color: #cccccc;
				font-size: 23px;
			}

			span{
				position: absolute;
				.calcRight('((100% / 2) - 20px)', 30%);
				
				width: 40px;
				height: 40px;
				border: 1px solid #cccccc;
				border-radius: 100px;
				img{
					width: 38px;
					height: 38px;
					border-radius: 100px;
				}
			}
		}
		article{

		}
		footer{
			a{
				border: 1px solid #cccccc;
				padding: 3px;
				margin-top: 10px;
				display: inline-block;
				color: #333333;
				&:hover{
					text-decoration: none;
					background: #EDEDED;
					color: #333333;
				}

			}
		}
	}	
}

.weather-table tr td:first-child {
  padding-right: 10px;
  text-align: right;
  border-right: 1px solid #ccc;
  font-weight: bold;
}

.weather-table tr td:last-child {
  padding-left: 10px;
}

//Spinner
.loader {
  font-size: 20px;
  margin: 5em auto;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  position: relative;
  text-indent: -9999em;
  -webkit-animation: load4 1.3s infinite linear;
  animation: load4 1.3s infinite linear;
}
@-webkit-keyframes load4 {
  0%,
  100% {
    box-shadow: 0em -3em 0em 0.2em #428bca, 2em -2em 0 0em #428bca, 3em 0em 0 -0.5em #428bca, 2em 2em 0 -0.5em #428bca, 0em 3em 0 -0.5em #428bca, -2em 2em 0 -0.5em #428bca, -3em 0em 0 -0.5em #428bca, -2em -2em 0 0em #428bca;
  }
  12.5% {
    box-shadow: 0em -3em 0em 0em #428bca, 2em -2em 0 0.2em #428bca, 3em 0em 0 0em #428bca, 2em 2em 0 -0.5em #428bca, 0em 3em 0 -0.5em #428bca, -2em 2em 0 -0.5em #428bca, -3em 0em 0 -0.5em #428bca, -2em -2em 0 -0.5em #428bca;
  }
  25% {
    box-shadow: 0em -3em 0em -0.5em #428bca, 2em -2em 0 0em #428bca, 3em 0em 0 0.2em #428bca, 2em 2em 0 0em #428bca, 0em 3em 0 -0.5em #428bca, -2em 2em 0 -0.5em #428bca, -3em 0em 0 -0.5em #428bca, -2em -2em 0 -0.5em #428bca;
  }
  37.5% {
    box-shadow: 0em -3em 0em -0.5em #428bca, 2em -2em 0 -0.5em #428bca, 3em 0em 0 0em #428bca, 2em 2em 0 0.2em #428bca, 0em 3em 0 0em #428bca, -2em 2em 0 -0.5em #428bca, -3em 0em 0 -0.5em #428bca, -2em -2em 0 -0.5em #428bca;
  }
  50% {
    box-shadow: 0em -3em 0em -0.5em #428bca, 2em -2em 0 -0.5em #428bca, 3em 0em 0 -0.5em #428bca, 2em 2em 0 0em #428bca, 0em 3em 0 0.2em #428bca, -2em 2em 0 0em #428bca, -3em 0em 0 -0.5em #428bca, -2em -2em 0 -0.5em #428bca;
  }
  62.5% {
    box-shadow: 0em -3em 0em -0.5em #428bca, 2em -2em 0 -0.5em #428bca, 3em 0em 0 -0.5em #428bca, 2em 2em 0 -0.5em #428bca, 0em 3em 0 0em #428bca, -2em 2em 0 0.2em #428bca, -3em 0em 0 0em #428bca, -2em -2em 0 -0.5em #428bca;
  }
  75% {
    box-shadow: 0em -3em 0em -0.5em #428bca, 2em -2em 0 -0.5em #428bca, 3em 0em 0 -0.5em #428bca, 2em 2em 0 -0.5em #428bca, 0em 3em 0 -0.5em #428bca, -2em 2em 0 0em #428bca, -3em 0em 0 0.2em #428bca, -2em -2em 0 0em #428bca;
  }
  87.5% {
    box-shadow: 0em -3em 0em 0em #428bca, 2em -2em 0 -0.5em #428bca, 3em 0em 0 -0.5em #428bca, 2em 2em 0 -0.5em #428bca, 0em 3em 0 -0.5em #428bca, -2em 2em 0 0em #428bca, -3em 0em 0 0em #428bca, -2em -2em 0 0.2em #428bca;
  }
}
@keyframes load4 {
  0%,
  100% {
    box-shadow: 0em -3em 0em 0.2em #428bca, 2em -2em 0 0em #428bca, 3em 0em 0 -0.5em #428bca, 2em 2em 0 -0.5em #428bca, 0em 3em 0 -0.5em #428bca, -2em 2em 0 -0.5em #428bca, -3em 0em 0 -0.5em #428bca, -2em -2em 0 0em #428bca;
  }
  12.5% {
    box-shadow: 0em -3em 0em 0em #428bca, 2em -2em 0 0.2em #428bca, 3em 0em 0 0em #428bca, 2em 2em 0 -0.5em #428bca, 0em 3em 0 -0.5em #428bca, -2em 2em 0 -0.5em #428bca, -3em 0em 0 -0.5em #428bca, -2em -2em 0 -0.5em #428bca;
  }
  25% {
    box-shadow: 0em -3em 0em -0.5em #428bca, 2em -2em 0 0em #428bca, 3em 0em 0 0.2em #428bca, 2em 2em 0 0em #428bca, 0em 3em 0 -0.5em #428bca, -2em 2em 0 -0.5em #428bca, -3em 0em 0 -0.5em #428bca, -2em -2em 0 -0.5em #428bca;
  }
  37.5% {
    box-shadow: 0em -3em 0em -0.5em #428bca, 2em -2em 0 -0.5em #428bca, 3em 0em 0 0em #428bca, 2em 2em 0 0.2em #428bca, 0em 3em 0 0em #428bca, -2em 2em 0 -0.5em #428bca, -3em 0em 0 -0.5em #428bca, -2em -2em 0 -0.5em #428bca;
  }
  50% {
    box-shadow: 0em -3em 0em -0.5em #428bca, 2em -2em 0 -0.5em #428bca, 3em 0em 0 -0.5em #428bca, 2em 2em 0 0em #428bca, 0em 3em 0 0.2em #428bca, -2em 2em 0 0em #428bca, -3em 0em 0 -0.5em #428bca, -2em -2em 0 -0.5em #428bca;
  }
  62.5% {
    box-shadow: 0em -3em 0em -0.5em #428bca, 2em -2em 0 -0.5em #428bca, 3em 0em 0 -0.5em #428bca, 2em 2em 0 -0.5em #428bca, 0em 3em 0 0em #428bca, -2em 2em 0 0.2em #428bca, -3em 0em 0 0em #428bca, -2em -2em 0 -0.5em #428bca;
  }
  75% {
    box-shadow: 0em -3em 0em -0.5em #428bca, 2em -2em 0 -0.5em #428bca, 3em 0em 0 -0.5em #428bca, 2em 2em 0 -0.5em #428bca, 0em 3em 0 -0.5em #428bca, -2em 2em 0 0em #428bca, -3em 0em 0 0.2em #428bca, -2em -2em 0 0em #428bca;
  }
  87.5% {
    box-shadow: 0em -3em 0em 0em #428bca, 2em -2em 0 -0.5em #428bca, 3em 0em 0 -0.5em #428bca, 2em 2em 0 -0.5em #428bca, 0em 3em 0 -0.5em #428bca, -2em 2em 0 0em #428bca, -3em 0em 0 0em #428bca, -2em -2em 0 0.2em #428bca;
  }
}