


<div ng-controller="EventsController">

    <h1>Events</h1>
    <button class="btn btn-primary" ng-click="getEvents()">Get Events</button>

    <br>
    <hr>

    <div ng-show="showLoader" class="loader"></div>

    <div class="well">

        <table class="table-striped">
            <tbody>
            <tr>
                <th>IP</th>
                <th>Last updated</th>
                <th>Expires</th>
            </tr>
            <tr ng-repeat="event in events">
                <td>{{client.ip[0]}}</td>
                <td>{{client.states.lastUpdated | date:'medium'}}</td>
                <td>{{client.expire | date:'medium'}}</td>
            </tr>
            </tbody>
        </table>

    </div>


</div>