
<div ng-controller="CollectionsController">

    <h1>Manage Collections</h1>

    <!--search collection-->
    <form>
        <div class="form-group">
            <div class="input-group">
                <span class="input-group-addon" for="collection_name">Enter collection name:</span>
                <input type="text" name="collection_name" id="collection_name" class="form-control" ng-model="searchName">
                <span class="input-group-btn">
                    <button class="btn btn-primary" ng-click="getCollection(searchName)">Search</button>
                </span>

            </div>
        </div>

    </form>
    <hr>

    <!--spinner-->
    <div ng-show="showLoader" class="loader"></div>

    <!--error-->
    <div class="well alert-info" ng-show="error">
        <h4>{{error.name}}</h4>
        <p>{{error.message}}</p>
    </div>

    <!--item list header-->
    <h4 ng-show="recordsFound">Collection: {{resultName}}, results: {{collection.length}}</h4>
    <button class="btn btn-primary" ng-show="recordsFound" ng-click="addItem(resultName, testBody)">Add {{resultName}}</button>

    <!--item list-->
    <div class="well" ng-repeat="item in collection track by item._id">
        <button class="btn btn-danger pull-right" ng-click="removeItem(resultName, item._id)">Remove</button>
        <pre>
            <code>
                {{item | json}}
            </code>
        </pre>
    </div>

</div>