
<div ng-controller="CollectionsController">

    <h1>Collections</h1>
    <div>

    </div>

    <form>
        <div class="form-group">
            <label>Collection name</label>
            <input type="text" class="form-control" ng-model="searchName">
        </div>
        <button class="btn btn-primary" ng-click="getCollection(searchName)">Get Collection</button>
    </form>


    <br>
    <hr>
    <div ng-show="showLoader" class="loader"></div>

    <div class="well alert-info" ng-show="error">
        <h4>{{error.name}}</h4>
        <p>{{error.message}}</p>
    </div>


    <button class="btn btn-primary pull-right" ng-click="addItem(resultName, testBody)">Add Item</button>

    <h4 ng-show="recordsFound">Collection: {{resultName}}, results: {{collection.length}}</h4>

    <div class="well" ng-repeat="item in collection">
        <button class="btn btn-danger pull-right" ng-click="removeItem(resultName, item._id)">Remove Item</button>
        <pre>
            <code>
                {{item | json}}
            </code>
        </pre>
    </div>

</div>