div(ng-controller="WeatherController")

	h1 Weather

	div.well
		form
			.form-group
				.input-group
					span.input-group-addon City
					input.form-control(type="text", ng-model="city")
			.form-group
				.input-group
					span.input-group-addon State
					input.form-control(type="text", ng-model="state")

			button.btn.btn-primary(ng-click="getWeather()") Get Weather


	div.loader(ng-show="showLoader")

	div.well(ng-show="!showLoader && weather")
		h4 {{weather.item.title}}

		table.weather-table
			tbody
				tr
					td Conditions
					td {{weather.item.condition.text}}
				tr
					td Temperature
					td {{weather.item.condition.temp}}°
				tr
					td Wind
					td {{weather.wind.speed}} mph {{weather.wind.direction | windDirection}}
				tr
					td Station
					td {{weather.location.city}}, {{weather.location.region}}
				tr
					td Last Update
					td {{weather.lastBuildDate| date:'h:mm a'}}

